{% extends 'mangastore/base.html' %}

{% load static %}

{% block css %}
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'mangastore/'%}css/estilos.css">
<link rel="stylesheet" href="{% static 'mangastore/'%}css/style2.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />


<style>

    .contenedor{
      background-image: url("{% static 'mangastore/'%}img/japan21920x1080.jpg");
      background-size: cover;
    }
    .centrado{
      background-color: rgba(255, 34, 0, 0.314);
      color: rgb(255, 255, 255);
      font-size: larger;
    }
    
  </style>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script> -->

{% endblock %}


{% block contenido %}

    <section class="home">
      <div class="form_container">
        <i class="uil uil-times form_close"></i>
        <!-- Login From -->
        <div class="form login_form">
          <form action="#">
            <h2>Iniciar Sesión</h2>
            <div class="input_box">
              <input type="email" placeholder="Email" required />
              <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
              <input type="password" placeholder="Contraseña" required />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <div class="option_field">
              <span class="checkbox">
                <input type="checkbox" id="check" />
                <label for="check">Recuerdame</label>
              </span>
              <a href="#" class="forgot_pw">¿Olvidaste tu contraseña?</a>
            </div>
            <button class="button">Acceder</button>
            <div class="login_signup">¿No tienes una cuenta? <a href="#" id="signup">Crear cuenta</a></div>
          </form>
        </div>
        <!-- Signup From -->
        <div class="form signup_form">
          <form action="#">
            <h2>Crear cuenta</h2>
            <div class="input_box">
              <input type="email" placeholder="Email" required />
              <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
              <input type="password" placeholder="Crear contraseña" required />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <div class="input_box">
              <input type="password" placeholder="Confirmar contraseña" required />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <button class="button">Crear cuenta</button>
            <div class="login_signup">¿Ya tienes una cuenta? <a href="#" id="login">Ingresa</a></div>
          </form>
        </div>
      </div>
    </section>

    <div class="contenedor">

      <div class="centrado">
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Quiénes [Somos]</h1>
              
              <span data-pf-type="Text">PageTwo esta formado por personas que comparten una poderosa atracción por estas obras de arte conocidas como manga, pero por encima de todo; por personas que comparten una misma visión y valores.<br><br>Visión y valor que se ven fuertemente reflejados en la experiencia final de cada coleccionista antes, durante y después de habernos confiado la misión de expandir su imaginación.<br><br>Creemos que este mundo necesita un cambio. Creemos que las personas se merecen algo más que una experiencia genérica, indiferente con el mundo y sin ninguna clase de valor agregado como a la que han estado acostumbradas estos últimos 20 años.<br><br>Nacimos con el propósito de elevar estos estándares en todo el país y nos alegra mucho estarlo logrando ^^</span>
            </div>
          </div>
      </section>
      </div>
    </div>


{% endblock %}

